/* project card component for works */
.project-card {
  width: 270px;
  height: fit-content;
  border: solid 3px black;
  border-radius: 10px;
  overflow: auto;
  margin: 1em;
}

.project-card-info {
  padding: .7em 1em;
}

.project-card-tech {
  font-size: 12px;
  width: 10em;
  text-align: end;
}
.proj-card-title-tech {
  display: flex;
  justify-content: space-between;
}
.project-card-view {
  text-align: center;
}
.project-img {
  height: 270px;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* specific cards */

#pluto, #filmflix {
  margin-top: 10em;
}

#cookbook {
  margin-top: 15em;
}