#mobile-nav #myLinks {
  display: none;
  position: relative;

}

#mobile-nav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-bottom: solid 1px black;
}

#mobile-nav a.icon {
  background: #8CD5DF;
  border-left: solid 1px black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: white;
  color: #8CD5DF;
}
