/* imports */
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=Lobster&display=swap');
@import "css-reset.css";
@import "card-component.css";

/* general styles */
h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Literata', serif;
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}
p, a {
  font-family: 'Literata', serif;
  font-size: 1.2em;
}


.container {
  margin-left: 15%;
  margin-right: 15%;
}


.title-center {
  text-align: center;
}


/* sidenavbar  */
#sidebar {
  writing-mode: vertical-lr;
  position: fixed;
  padding: 25px;
  transform: rotate(180deg);
}

.vert {
  padding-bottom: 6em;
}

/* topNav */
nav {
  position: relative;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

a:link {
  color: black;
  text-decoration: none;
}

li {
  display: inline-block;
  padding: 1em;
}


/* landing */
#landing-screen {
  display: inline-flex;
  justify-content: space-between;
  height: 90vh;
}

.landing-text {
  margin: auto 0;
  background-color: aliceblue;
}

.main-title {
  font-size: 5em;
  font-weight: 400;
}

.main-avatar {
  height: 272px;
  width: 272px;
  margin-top: 22%;
}

.underline-spacing {
  position: absolute;
}

.fed {
  margin-left: 6em;
}

.tokyo {
  margin-left: 23em;
}

/* my work */
#work {
  height: 100vh;
}

.title-underline-b {
  padding: 30px 0 8px;
  position: relative;
}

.title-underline-b::before {
  content: "";
  position: absolute;
  left: 57%;
  bottom: 16px;
  width: 7em;
  height: .4em;
  transform: skew(-12deg) translateX(-50%);
  background: #8CD5DF;
  z-index: -1;
}



/* footer */
.blue-heart {
  color: blue;
}
