/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Lobster&display=swap');

h1, h2 {
  font-family: 'Lobster', cursive;
}

p, li {
  font-family: 'Bitter', serif;
}

.container {
  background-color:rebeccapurple;
  margin-left: 15%;
  margin-right: 15%;
}

/* sidenavbar  */
#sidebar {
  writing-mode: vertical-lr;
  position: absolute;
  padding: 25px;
  transform: rotate(180deg)
}

.vert {
  padding-bottom: 7em;
}

.vet:hover {
  
}

/* topNav */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  float: right;
  
}

a:link {
  text-decoration: none;
  color: black;
}

li {
  display: inline-block;
  padding: 1em;
}






/* landing */



/* footer */
.blue-heart {
    color: blue;
}
